In [2]:

import numpy as np
import pandas as pd
import os
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import cross_val_score, StratifiedKFold, StratifiedShuffleSplit ,train_test_split, KFold
import warnings
warnings.filterwarnings("ignore")

In [3]:
os.chdir('C:\\Noble\\Training\\KODO\\2025\\Dec 2025\\Dec 2025 Day 14\\')

In [4]:
pwd

'C:\\Noble\\Training\\KODO\\2025\\Dec 2025\\Dec 2025 Day 14'

In [5]:
dataset=pd.read_csv('adult.csv')
display(dataset)

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
48838,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
48839,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
48840,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
48841,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [6]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              48842 non-null  int64
 1   workclass        48842 non-null  object
 2   fnlwgt           48842 non-null  int64
 3   education        48842 non-null  object
 4   educational-num  48842 non-null  int64
 5   marital-status   48842 non-null  object
 6   occupation       48842 non-null  object
 7   relationship     48842 non-null  object
 8   race             48842 non-null  object
 9   gender           48842 non-null  object
 10  capital-gain     48842 non-null  int64
 11  capital-loss     48842 non-null  int64
 12  hours-per-week   48842 non-null  int64
 13  native-country   48842 non-null  object
 14  income           48842 non-null  object
dtypes: int64(6), object(9)
memory usage: 5.6+ MB

In [7]:
dataset.isnull().sum()

age                0
workclass          0
fnlwgt             0
education          0
educational-num    0
marital-status     0
occupation         0
relationship       0
race               0
gender             0
capital-gain       0
capital-loss       0
hours-per-week     0
native-country     0
income             0
dtype: int64

In [8]:

dataset['gender']= dataset['gender'].map({"Male":0, "Female":1})
display(dataset)

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,0,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,0,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,0,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,0,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,1,0,0,30,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,1,0,0,38,United-States,<=50K
48838,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,0,0,0,40,United-States,>50K
48839,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,1,0,0,40,United-States,<=50K
48840,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,0,0,0,20,United-States,<=50K
48841,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,1,15024,0,40,United-States,>50K

In [9]:
dataset["marital-status"] = dataset["marital-status"].replace(['Never-married','Divorced','Separated','Widowed'],0)
dataset["marital-status"] = dataset["marital-status"].replace(['Married-AF-spouse','Married-civ-spouse', 'Married-spouse-absent'],1)
display(dataset)

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,0,Machine-op-inspct,Own-child,Black,0,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,1,Farming-fishing,Husband,White,0,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,1,Protective-serv,Husband,White,0,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,1,Machine-op-inspct,Husband,Black,0,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,0,?,Own-child,White,1,0,0,30,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,27,Private,257302,Assoc-acdm,12,1,Tech-support,Wife,White,1,0,0,38,United-States,<=50K
48838,40,Private,154374,HS-grad,9,1,Machine-op-inspct,Husband,White,0,0,0,40,United-States,>50K
48839,58,Private,151910,HS-grad,9,0,Adm-clerical,Unmarried,White,1,0,0,40,United-States,<=50K
48840,22,Private,201490,HS-grad,9,0,Adm-clerical,Own-child,White,0,0,0,20,United-States,<=50K
48841,52,Self-emp-inc,287927,HS-grad,9,1,Exec-managerial,Wife,White,1,15024,0,40,United-States,>50K

In [10]:
dataset.dtypes

age                 int64
workclass          object
fnlwgt              int64
education          object
educational-num     int64
marital-status      int64
occupation         object
relationship       object
race               object
gender              int64
capital-gain        int64
capital-loss        int64
hours-per-week      int64
native-country     object
income             object
dtype: object

In [11]:
dataset["marital-status"]=dataset["marital-status"].astype(int)
dataset.dtypes

age                 int64
workclass          object
fnlwgt              int64
education          object
educational-num     int64
marital-status      int64
occupation         object
relationship       object
race               object
gender              int64
capital-gain        int64
capital-loss        int64
hours-per-week      int64
native-country     object
income             object
dtype: object

In [12]:
dataset.head(2)

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,0,Machine-op-inspct,Own-child,Black,0,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,1,Farming-fishing,Husband,White,0,0,0,50,United-States,<=50K

In [13]:
dataset.drop(labels= ['workclass','education','occupation','relationship','race','native-country'],axis =1, inplace = True)
dataset.head(2)

,age,fnlwgt,educational-num,marital-status,gender,capital-gain,capital-loss,hours-per-week,income
0,25,226802,7,0,0,0,0,40,<=50K
1,38,89814,9,1,0,0,0,50,<=50K

In [14]:
y = dataset['income']
y

0        <=50K
1        <=50K
2         >50K
3         >50K
4        <=50K
         ...
48837    <=50K
48838     >50K
48839    <=50K
48840    <=50K
48841     >50K
Name: income, Length: 48842, dtype: object

In [15]:
dataset = dataset.drop('income',axis=1)
display(dataset )

,age,fnlwgt,educational-num,marital-status,gender,capital-gain,capital-loss,hours-per-week
0,25,226802,7,0,0,0,0,40
1,38,89814,9,1,0,0,0,50
2,28,336951,12,1,0,0,0,40
3,44,160323,10,1,0,7688,0,40
4,18,103497,10,0,1,0,0,30
...,...,...,...,...,...,...,...,...
48837,27,257302,12,1,1,0,0,38
48838,40,154374,9,1,0,0,0,40
48839,58,151910,9,0,1,0,0,40
48840,22,201490,9,0,0,0,0,20
48841,52,287927,9,1,1,15024,0,40

In [16]:
x_train,x_test,y_train,y_test = train_test_split (dataset,y , test_size = 0.2, random_state= 42)
print (x_train.shape,x_test.shape,y_train.shape,y_test.shape)

(39073, 8) (9769, 8) (39073,) (9769,)

In [17]:
models = []
models.append (('LR',LogisticRegression()))
models.append (('KNN',KNeighborsClassifier()))
print (models)

[('LR', LogisticRegression()), ('KNN', KNeighborsClassifier())]

In [18]:

LR = LogisticRegression()
LR.fit(x_train, y_train)

LogisticRegression()

In [19]:
y_pred = LR.predict (x_test)
y_pred

array(['<=50K', '<=50K', '>50K', ..., '<=50K', '<=50K', '<=50K'],
      dtype=object)

In [20]:

from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.8043812058552564

In [21]:
print (y_test.value_counts())
print (pd.DataFrame(y_pred).value_counts())

income
<=50K    7479
>50K     2290
Name: count, dtype: int64
0
<=50K    8912
>50K      857
Name: count, dtype: int64

In [22]:
models

[('LR', LogisticRegression()), ('KNN', KNeighborsClassifier())]

In [23]:
for name, model in models:
    print (name, model)

LR LogisticRegression()
KNN KNeighborsClassifier()

In [25]:
result= dict()
for name, model in models:
    kfold= KFold(n_splits=10)
    cv_results = cross_val_score(model,x_train, y_train, cv= kfold, scoring ='accuracy')
    result[name] = (  cv_results,  cv_results.mean(),  cv_results.std())

In [27]:
for key,value in result.items():
    print ('Model Name :', key ,'\n Individual Accuracy\n',value[0], '\nMean:',value[1],'\nSTD:',value[2], '\n')

Model Name : LR
 Individual Accuracy
 [0.80168884 0.81064483 0.79554759 0.79498336 0.78653698 0.79805477
 0.79191195 0.80061428 0.78704889 0.78397748]
Mean: 0.7951008988669261
STD: 0.007722864710213477

Model Name : KNN
 Individual Accuracy
 [0.77763562 0.78377687 0.77379734 0.78346557 0.76631687 0.77962631
 0.76990018 0.79498336 0.76119785 0.76785257]
Mean: 0.7758552544196059
STD: 0.009557746839878192

In [28]:
skresult= dict()
for name, model in models:
    skfold= StratifiedKFold(n_splits=10)
    skcv_results = cross_val_score(model,x_train, y_train, cv= skfold, scoring ='accuracy')
    skresult[name] = (  skcv_results,  skcv_results.mean(),  skcv_results.std())

In [29]:
for s_key,s_value in skresult.items():
    print ('Model Name :', s_key ,'\n Individual Accuracy\n',s_value[0], '\nMean:',s_value[1],'\nSTD:',s_value[2], '\n')

Model Name : LR
 Individual Accuracy
 [0.79631525 0.79145343 0.78812692 0.80010238 0.79242385 0.79933453
 0.79267981 0.79549526 0.79754287 0.79370361]
Mean: 0.7947177912567501
STD: 0.003549439843014505

Model Name : KNN
 Individual Accuracy
 [0.77251791 0.78480041 0.77507677 0.78244177 0.77220374 0.78039416
 0.76554901 0.78218582 0.76657282 0.7750192 ]
Mean: 0.775676160862887
STD: 0.006339666407181896

In [30]:
sskresult= dict()
for name, model in models:
    sskfold= StratifiedShuffleSplit(n_splits=10)
    sskcv_results = cross_val_score(model,x_train, y_train, cv= sskfold, scoring ='accuracy')
    sskresult[name] = (  sskcv_results,  sskcv_results.mean(),  sskcv_results.std())

In [31]:
for s_key,s_value in sskresult.items():
    print ('Model Name :', s_key ,'\n Individual Accuracy\n',s_value[0], '\nMean:',s_value[1],'\nSTD:',s_value[2], '\n')

Model Name : LR
 Individual Accuracy
 [0.79580348 0.79605937 0.79708291 0.78991812 0.79145343 0.78966223
 0.79401228 0.79861822 0.79733879 0.79605937]
Mean: 0.7946008188331627
STD: 0.003034265289977741

Model Name : KNN
 Individual Accuracy
 [0.78275333 0.77379734 0.77635619 0.77686796 0.77251791 0.77405322
 0.77635619 0.77942682 0.77533265 0.77379734]
Mean: 0.7761258955987718
STD: 0.002902804885853105