In [166]:
# 10.Print a triangle with increasing numbers:
# 1
# 2 3
# 4 5 6
# 7 8 9 10
n = int(input("Enter your Row:"))
k= 1
for i in range(1,n+1):
    for j in range(1,i+1):
        print(k,end=" ")
        k+=1
    print()

Enter your Row: 6

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15
16 17 18 19 20 21

In [146]:
# 11
n = int(input("Enter Your Input"))
lis = ["A","B","C","D","E","F","G","H","I"]
for i in range(1,n+1):
    for j in range(i):
        print(lis[i-1],end =" ")
    print()

Enter Your Input 5

A
B B
C C C
D D D D
E E E E E

In [269]:
#1 Print the multiplication table from 1 to 10 using nested loops.
n = int(input("Enter Your Number:"))
for i in range(1,n+1):
    print("MULTIPLICATION TABLES",i,"\n")
    for j in range(1,11):
        
        print(j,"*",i,"=",i*j)
    print()

Enter Your Number: 32

MULTIPLICATION TABLES 1

1 * 1 = 1
2 * 1 = 2
3 * 1 = 3
4 * 1 = 4
5 * 1 = 5
6 * 1 = 6
7 * 1 = 7
8 * 1 = 8
9 * 1 = 9
10 * 1 = 10

MULTIPLICATION TABLES 2

1 * 2 = 2
2 * 2 = 4
3 * 2 = 6
4 * 2 = 8
5 * 2 = 10
6 * 2 = 12
7 * 2 = 14
8 * 2 = 16
9 * 2 = 18
10 * 2 = 20

MULTIPLICATION TABLES 3

1 * 3 = 3
2 * 3 = 6
3 * 3 = 9
4 * 3 = 12
5 * 3 = 15
6 * 3 = 18
7 * 3 = 21
8 * 3 = 24
9 * 3 = 27
10 * 3 = 30

MULTIPLICATION TABLES 4

1 * 4 = 4
2 * 4 = 8
3 * 4 = 12
4 * 4 = 16
5 * 4 = 20
6 * 4 = 24
7 * 4 = 28
8 * 4 = 32
9 * 4 = 36
10 * 4 = 40

MULTIPLICATION TABLES 5

1 * 5 = 5
2 * 5 = 10
3 * 5 = 15
4 * 5 = 20
5 * 5 = 25
6 * 5 = 30
7 * 5 = 35
8 * 5 = 40
9 * 5 = 45
10 * 5 = 50

MULTIPLICATION TABLES 6

1 * 6 = 6
2 * 6 = 12
3 * 6 = 18
4 * 6 = 24
5 * 6 = 30
6 * 6 = 36
7 * 6 = 42
8 * 6 = 48
9 * 6 = 54
10 * 6 = 60

MULTIPLICATION TABLES 7

1 * 7 = 7
2 * 7 = 14
3 * 7 = 21
4 * 7 = 28
5 * 7 = 35
6 * 7 = 42
7 * 7 = 49
8 * 7 = 56
9 * 7 = 63
10 * 7 = 70

MULTIPLICATION TABLES 8

1 * 8 = 8
2 * 8 = 16
3 * 8 = 24
4 * 8 = 32
5 * 8 = 40
6 * 8 = 48
7 * 8 = 56
8 * 8 = 64
9 * 8 = 72
10 * 8 = 80

MULTIPLICATION TABLES 9

1 * 9 = 9
2 * 9 = 18
3 * 9 = 27
4 * 9 = 36
5 * 9 = 45
6 * 9 = 54
7 * 9 = 63
8 * 9 = 72
9 * 9 = 81
10 * 9 = 90

MULTIPLICATION TABLES 10

1 * 10 = 10
2 * 10 = 20
3 * 10 = 30
4 * 10 = 40
5 * 10 = 50
6 * 10 = 60
7 * 10 = 70
8 * 10 = 80
9 * 10 = 90
10 * 10 = 100

MULTIPLICATION TABLES 11

1 * 11 = 11
2 * 11 = 22
3 * 11 = 33
4 * 11 = 44
5 * 11 = 55
6 * 11 = 66
7 * 11 = 77
8 * 11 = 88
9 * 11 = 99
10 * 11 = 110

MULTIPLICATION TABLES 12

1 * 12 = 12
2 * 12 = 24
3 * 12 = 36
4 * 12 = 48
5 * 12 = 60
6 * 12 = 72
7 * 12 = 84
8 * 12 = 96
9 * 12 = 108
10 * 12 = 120

MULTIPLICATION TABLES 13

1 * 13 = 13
2 * 13 = 26
3 * 13 = 39
4 * 13 = 52
5 * 13 = 65
6 * 13 = 78
7 * 13 = 91
8 * 13 = 104
9 * 13 = 117
10 * 13 = 130

MULTIPLICATION TABLES 14

1 * 14 = 14
2 * 14 = 28
3 * 14 = 42
4 * 14 = 56
5 * 14 = 70
6 * 14 = 84
7 * 14 = 98
8 * 14 = 112
9 * 14 = 126
10 * 14 = 140

MULTIPLICATION TABLES 15

1 * 15 = 15
2 * 15 = 30
3 * 15 = 45
4 * 15 = 60
5 * 15 = 75
6 * 15 = 90
7 * 15 = 105
8 * 15 = 120
9 * 15 = 135
10 * 15 = 150

MULTIPLICATION TABLES 16

1 * 16 = 16
2 * 16 = 32
3 * 16 = 48
4 * 16 = 64
5 * 16 = 80
6 * 16 = 96
7 * 16 = 112
8 * 16 = 128
9 * 16 = 144
10 * 16 = 160

MULTIPLICATION TABLES 17

1 * 17 = 17
2 * 17 = 34
3 * 17 = 51
4 * 17 = 68
5 * 17 = 85
6 * 17 = 102
7 * 17 = 119
8 * 17 = 136
9 * 17 = 153
10 * 17 = 170

MULTIPLICATION TABLES 18

1 * 18 = 18
2 * 18 = 36
3 * 18 = 54
4 * 18 = 72
5 * 18 = 90
6 * 18 = 108
7 * 18 = 126
8 * 18 = 144
9 * 18 = 162
10 * 18 = 180

MULTIPLICATION TABLES 19

1 * 19 = 19
2 * 19 = 38
3 * 19 = 57
4 * 19 = 76
5 * 19 = 95
6 * 19 = 114
7 * 19 = 133
8 * 19 = 152
9 * 19 = 171
10 * 19 = 190

MULTIPLICATION TABLES 20

1 * 20 = 20
2 * 20 = 40
3 * 20 = 60
4 * 20 = 80
5 * 20 = 100
6 * 20 = 120
7 * 20 = 140
8 * 20 = 160
9 * 20 = 180
10 * 20 = 200

MULTIPLICATION TABLES 21

1 * 21 = 21
2 * 21 = 42
3 * 21 = 63
4 * 21 = 84
5 * 21 = 105
6 * 21 = 126
7 * 21 = 147
8 * 21 = 168
9 * 21 = 189
10 * 21 = 210

MULTIPLICATION TABLES 22

1 * 22 = 22
2 * 22 = 44
3 * 22 = 66
4 * 22 = 88
5 * 22 = 110
6 * 22 = 132
7 * 22 = 154
8 * 22 = 176
9 * 22 = 198
10 * 22 = 220

MULTIPLICATION TABLES 23

1 * 23 = 23
2 * 23 = 46
3 * 23 = 69
4 * 23 = 92
5 * 23 = 115
6 * 23 = 138
7 * 23 = 161
8 * 23 = 184
9 * 23 = 207
10 * 23 = 230

MULTIPLICATION TABLES 24

1 * 24 = 24
2 * 24 = 48
3 * 24 = 72
4 * 24 = 96
5 * 24 = 120
6 * 24 = 144
7 * 24 = 168
8 * 24 = 192
9 * 24 = 216
10 * 24 = 240

MULTIPLICATION TABLES 25

1 * 25 = 25
2 * 25 = 50
3 * 25 = 75
4 * 25 = 100
5 * 25 = 125
6 * 25 = 150
7 * 25 = 175
8 * 25 = 200
9 * 25 = 225
10 * 25 = 250

MULTIPLICATION TABLES 26

1 * 26 = 26
2 * 26 = 52
3 * 26 = 78
4 * 26 = 104
5 * 26 = 130
6 * 26 = 156
7 * 26 = 182
8 * 26 = 208
9 * 26 = 234
10 * 26 = 260

MULTIPLICATION TABLES 27

1 * 27 = 27
2 * 27 = 54
3 * 27 = 81
4 * 27 = 108
5 * 27 = 135
6 * 27 = 162
7 * 27 = 189
8 * 27 = 216
9 * 27 = 243
10 * 27 = 270

MULTIPLICATION TABLES 28

1 * 28 = 28
2 * 28 = 56
3 * 28 = 84
4 * 28 = 112
5 * 28 = 140
6 * 28 = 168
7 * 28 = 196
8 * 28 = 224
9 * 28 = 252
10 * 28 = 280

MULTIPLICATION TABLES 29

1 * 29 = 29
2 * 29 = 58
3 * 29 = 87
4 * 29 = 116
5 * 29 = 145
6 * 29 = 174
7 * 29 = 203
8 * 29 = 232
9 * 29 = 261
10 * 29 = 290

MULTIPLICATION TABLES 30

1 * 30 = 30
2 * 30 = 60
3 * 30 = 90
4 * 30 = 120
5 * 30 = 150
6 * 30 = 180
7 * 30 = 210
8 * 30 = 240
9 * 30 = 270
10 * 30 = 300

MULTIPLICATION TABLES 31

1 * 31 = 31
2 * 31 = 62
3 * 31 = 93
4 * 31 = 124
5 * 31 = 155
6 * 31 = 186
7 * 31 = 217
8 * 31 = 248
9 * 31 = 279
10 * 31 = 310

MULTIPLICATION TABLES 32

1 * 32 = 32
2 * 32 = 64
3 * 32 = 96
4 * 32 = 128
5 * 32 = 160
6 * 32 = 192
7 * 32 = 224
8 * 32 = 256
9 * 32 = 288
10 * 32 = 320

In [171]:
#2
for i in range(1,4):
    for j in range(1,4):
        print(j, end=" ")
    print()

1 2 3
1 2 3
1 2 3

In [176]:
# 3
for i in range(1,5):
    for j in range(1,i+1):
        print(j, end=" ")
    print()

1
1 2
1 2 3
1 2 3 4

In [181]:
# 4.Right angled triangle of stars

# *
# **
# ***
# ****
for i in range(1,5):
    for j in range(1,i+1):
        print("*", end="")
    print()

*
**
***
****

In [193]:
# 5.Inverted Star Pattern

# *****
# ****
# ***
# **
# *
n = int(input("Enter your number"))
for i in range(n,0,-1):
    for j in range(i):
        print("*", end="")
    print()

Enter your number 2

**
*

In [213]:
# 9.Print a chessboard grid with labels:

# A1 A2 A3 A4
# B1 B2 B3 B4
# C1 C2 C3 C4
# D1 D2 D3 D4
n = int(input("Enter Your Input"))

lis = ["A","B","C","D","E","F","G","H","I"]
for i in range(1,n+1):
    k = 1
    for j in range(1,n+1 ):
        print(lis[i-1]+str(k),end=" ")
        k+=1
    print()

Enter Your Input 5

A1 A2 A3 A4 A5
B1 B2 B3 B4 B5
C1 C2 C3 C4 C5
D1 D2 D3 D4 D5
E1 E2 E3 E4 E5

In [4]:
# 6.Pyramid of stars

#     *
#    ***
#   *****
#  *******
n = int(input("Enter your row"))
for i in range(n):
    for j in range(n-i-1):
        print(" ", end=" ")
    for k in range(2*i+1):
        print("*", end=" ")
    print()

Enter your row 5

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [238]:
# 8.pattern with row numbers

# 1
# 2 2
# 3 3 3
# 4 4 4 4
n = int(input("Enter your row:"))
for i in range (1,n+1):
    for j in range(1,i+1):
        print(i,end=" ")
    i+=1
    print()

Enter your row: 6

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6

In [268]:
# 7.Print a 4x4 grid like:

# B W B W
# W B W B
# B W B W
# W B W B
n = int(input("Enter your num:"))
for i in range (n):
    for j in range(1,n+1):
        if (i+j) % 2 == 0:
            print("W", end =" ")
        else:
            print("B", end=" ")
    print()

Enter your num: 5

B W B W B
W B W B W
B W B W B
W B W B W
B W B W B