In [45]:
# try else [5,6,9,10,12] id even num its true if not hadle exception
n = [5,6,9,10,12]
# n.append(int(input("Enter your num")))

# try:
for i in n:
    if i%2 == 0:
        print("Found",i)
        break
else:
    print("false")
# except:
    # print("Ivalid num ")

# else:
    # print("true")

Found 6

In [3]:
# 10. Write a function employee_details(*args, **kwargs) that takes employee ID and any number of keyword attributes (like name, dept, salary) and
# displays all.

try:
    def employee(*arg,**kwargs):
        for emp in arg:
            print("\nID :",emp)
        print("\nDetails")
        for key,value in kwargs.items():
            print(f"{key} : {value}")
    idnum= int(input("Enter your ID num:"))
    name1 = input("Enter your name:")
    dept1 = input("Enter your Department:")
    salary1 =int(input("Enter your salary:"))
    employee(idnum,name = name1,dept = dept1,salary = salary1)
except ValueError:
    print("Invalid input numbers only try again")

Enter your ID num: 3
Enter your name: j'
Enter your Department: l
Enter your salary: 88

ID : 3

Details
name : j'
dept : l
salary : 88

In [10]:
# 1.Create a Book class with attributes like title, author, and price. Create 3 different book objects and print their attributes
class Book:
    def __init__ (self,title,author,price):
        self.title ="Harry Potter"
        self.author =" JK Rowling"
        self.price = 2000
    def title(self):
        # title = "Harry Potter"
        print("Title:",self.title)
    def author(self):
        # author =" JK Rowling"
        print("Title:",self.author)
    def price(self):
        # price = 2000
        print("Title:",self.price)
b = Book()
b.title()

TypeError: Book.__init__() missing 3 required positional arguments: 'title', 'author', and 'price'