# Upload as a csv file

In [2]:
import pandas as pd
mydata = {'id':[1,2,3], 'name' :['Siva','dan','surya'],
         'job':['qa','qa','qa']} 
var = pd.DataFrame(mydata)
print(var)
var.to_csv('sample.csv', index=False)

   id   name job
0   1   Siva  qa
1   2    dan  qa
2   3  surya  qa

# Excel read

In [9]:
import pandas as pd
dummy = pd.read_excel("C:\\Users\\XNovaQ.23\\Downloads\\sample_50_members.xls")
print(dummy)

             Name    Phone Number    Country       City  Gender
0       Sneha Das  +91-6309447570        USA    Toronto  Female
1     Meera Reddy  +91-7301980383     Canada     Mumbai  Female
2    Anjali Patel  +91-8028657969  Australia  Hyderabad    Male
3    Snehal Yadav  +91-9210108202        USA    Chennai  Female
4    Ishaan Reddy  +91-8853253779        USA     Mumbai    Male
5   Lalitha Kumar  +91-6077357236        USA  Bangalore  Female
6     Varun Kumar  +91-9178091166  Australia    Toronto  Female
7     Manish Bose  +91-8221613091      India     Sydney    Male
8       Varun Das  +91-8701256350        USA     Sydney    Male
9     Simran Nair  +91-8436313419         UK      Delhi    Male
10      Raj Gupta  +91-8048111206     Canada    Toronto    Male
11   Vikram Reddy  +91-8588693307  Australia  Melbourne  Female
12    Simran Bose  +91-7501291061     Canada    Chennai  Female
13      Kiran Das  +91-6845499164  Australia     London  Female
14  Ananya Sharma  +91-8414100064     Canada  Bangalore  Female
15  Deepak Sharma  +91-8994275241         UK  Hyderabad    Male
16  Krishna Gupta  +91-9145830305     Canada  Bangalore    Male
17   Manish Kumar  +91-9172423610         UK  Bangalore    Male
18   Snehal Reddy  +91-6276214307         UK      Delhi    Male
19   Radha Sharma  +91-9436827480  Australia    Toronto    Male
20     Simran Das  +91-9715812345     Canada      Delhi  Female
21  Manish Sharma  +91-9855153492        USA    Chennai    Male
22   Snehal Yadav  +91-6742850985         UK  Hyderabad  Female
23   Priya Sharma  +91-7695438423        USA    Chennai    Male
24    Abhay Kumar  +91-7465686385         UK    Toronto    Male
25    Ajay Sharma  +91-8271513225        USA   New York    Male
26    Meera Reddy  +91-8005456198     Canada  Bangalore    Male
27    Sneha Yadav  +91-6462778559     Canada    Chennai    Male
28     Naveen Das  +91-6516322863         UK  Bangalore    Male
29    Ananya Bose  +91-8286441190  Australia    Chennai    Male
30   Naveen Patel  +91-9531487571  Australia     Sydney  Female
31      Diya Bose  +91-9773750284        USA  Hyderabad    Male
32   Deepak Gupta  +91-7566663192      India  Hyderabad  Female
33    Tara Sharma  +91-6441858933      India    Toronto    Male
34     Riya Patel  +91-9392224211      India     Mumbai    Male
35      Pooja Das  +91-8033055159      India    Toronto    Male
36   Krishna Nair  +91-6439199898      India  Melbourne  Female
37    Rahul Yadav  +91-8884142307     Canada     Mumbai  Female
38     Ajay Reddy  +91-7661839694         UK      Delhi  Female
39      Maya Bose  +91-8809918464        USA      Delhi  Female
40     Divya Nair  +91-9039612340     Canada    Toronto    Male
41   Meera Chopra  +91-6888642397     Canada     Sydney    Male
42    Leela Reddy  +91-6968671525     Canada    Chennai  Female
43      Vani Bose  +91-7148744661      India  Bangalore  Female
44   Vivaan Gupta  +91-8070772376        USA    Chennai    Male
45       Neha Das  +91-7454953131         UK     Mumbai  Female
46  Saanvi Chopra  +91-8321075585     Canada     Mumbai    Male
47      Rahul Das  +91-7320579074         UK     London    Male
48    Arjun Patel  +91-9432068113         UK  Bangalore  Female
49    Snehal Bose  +91-9777294714     Canada    Chennai  Female

# Convert to csv

In [8]:
# !pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
   ---------------------------------------- 0.0/250.9 kB ? eta -:--:--
   ---------------------------------------- 0.0/250.9 kB ? eta -:--:--
   ---------------------------------------- 0.0/250.9 kB ? eta -:--:--
   - -------------------------------------- 10.2/250.9 kB ? eta -:--:--
   ---- ---------------------------------- 30.7/250.9 kB 259.2 kB/s eta 0:00:01
   --------- ----------------------------- 61.4/250.9 kB 409.6 kB/s eta 0:00:01
   ----------------------------------- ---- 225.3/250.9 kB 1.1 MB/s eta 0:00:01
   ---------------------------------------- 250.9/250.9 kB 1.1 MB/s eta 0:00:00
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5

[notice] A new release of pip is available: 24.0 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [ ]:
import panda as pd